body{
	background: url("../images/tacobackground.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Sedgwick Ave Display', cursive;
}

h1{
	font-family: 'Faster One', cursive !important;
	font-size: 90px !important;
	text-align: center !important;
	display: inline;
}

/*-------------------Header-----------------------*/
#header {
	
	background-color: white;
	text-align: center;
	border: 2px solid red;
	border-radius: 10px;
	background: rgba(255, 255, 255, .7);
}
/*-------------------Header End--------------------*/

/*-------------------Description-------------------*/
#description{
background-color: rgba(255, 255, 255, .7);
	border: 2px solid red;
	border-radius: 10px;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 20px;
}
/*------------------Description End-----------------*/

/*------------------Location Input------------------*/
#em-form{
	text-align: center;
}
/*---------------Location Input End------------------*/

/*---------------------Map---------------------------*/
#map{
	height: 400px;
	width: 100%;
}

#mapDiv {
	opacity: 0.001;
	margin-top: 50px;
}
/*---------------------Map End-----------------------*/

/*---------------------Results-----------------------*/
#resultsView{
	margin-top: 50px;
}

.clickOptions {
	border: 2px solid red!important
}
/*---------------------Results End--------------------*/

/*---------------------Footer-------------------------*/
#footer {
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    color: white;
    padding: 8px;
    text-align: center;
}
/*---------------------Footer End---------------------*/


